@media only screen and  (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu{
        margin-left: auto;
    }

    #closeMenu{
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav{
        position: fixed;
        flex-direction: column;
        width: 70vw;
        height: 40vh;
        background: rgba(255,255,255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
        border-radius: 20px;
    }

}


/* 
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    section {
        padding: 1.5rem;
    }

    footer ul {
        flex-direction: column;
    }
}
 */