@font-face {
    font-family: 'Rockford';
    src: url('font/RockfordSans-Regular.woff') format('woff'),
         url('font/RockfordSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rockford';
    src: url('font/RockfordSans-Bold.woff') format('woff'),
         url('font/RockfordSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-azul: #81cdff;
    --primary-lilasclaro: #a772ff;
    --primary-lilasescuro: #641bdd;

    --secundary-aqua: #b1c86f;
    --secundary-verde: #71c4b0;

    --claro: #fcfcfc;
    --escuro: #4a4a4a;

    --backgroud1: #e7e7e7;
    --gap: 3rem;
    --font1: 'Rockford', Arial, sans-serif;
    --font2: 'Poppins', Arial, sans-serif;
    
}

.grad1{
    background: linear-gradient(130deg,  var(--primary-lilasclaro) 5%, var(--primary-azul) 50%, var(--secundary-verde) 95%);
}

.grad2{
    background: linear-gradient(130deg,  var(--secundary-aqua), var(--secundary-verde));
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */

section {
    padding: 0;
     max-width: 100%;
    margin: 0 auto;
}

h1 {
    
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    color: var(--escuro);
    font-family: var(--font1);
    font-size: 3rem;

}

h2 {
    
    text-align: center;
    width: 100%;
    color: var(--escuro);
    font-family: var(--font1);
    font-size: 2.5rem;
}

h3 {
    text-align: center;
    width: 100%;
    color: var(--escuro);
    font-family: var(--font1);
    font-size: 1.3rem;
}

p {
    font-family: var(--font1);
    color: black;
    font-size: 1em;
    font-family: var(--font2);
}

ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
    font-family: var(--font2);

}
ul li {
    margin-bottom: 0.5rem;
    font-family: var(--font2);

}

body {
    /* margin-top: 70px; /* Para não sobrepor o conteúdo ao header */ 
    font-family: var(--font2);
    background-color: var(--claro);
    line-height: 1.6;
    width: 100%;
}

/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
} */

.containerform {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
    flex: 1;
    padding-right: 20px;
}

/* h2 {
    color: #2c3e50;
}

h3 {
    color: #2980b9;
} */

form {
    flex: 1;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #27ae60;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #219150;
}