@font-face {
    font-family: 'Rockford';
    src: url('font/RockfordSans-Regular.woff') format('woff'),
         url('font/RockfordSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rockford';
    src: url('font/RockfordSans-Bold.woff') format('woff'),
         url('font/RockfordSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-azul: #81cdff;
    --primary-lilasclaro: #a772ff;
    --primary-lilasescuro: #641bdd;

    --secundary-aqua: #b1c86f;
    --secundary-verde: #71c4b0;

    --claro: #fcfcfc;
    --escuro: #4a4a4a;

    --backgroud1: #e7e7e7;
    --gap: 3rem;
    --font1: 'Rockford', Arial, sans-serif;
    --font2: 'Poppins', Arial, sans-serif;
    
}

.grad1{
    background: linear-gradient(130deg,  var(--primary-lilasclaro) 5%, var(--primary-azul) 50%, var(--secundary-verde) 95%);
}

.grad2{
    background: linear-gradient(130deg,  var(--secundary-aqua), var(--secundary-verde));
}

.degrade{
   
    width: 100%;
    height: 500px;
    
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais */

section {
    padding: var(--gap);
    max-width: 100%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
    color: var(--escuro);
    font-family: var(--font1);
    font-size: 3rem;

}

h2 {
    margin: 1rem;
    text-align: center;
    width: 100%;
    color: var(--escuro);
    font-family: var(--font1);
    font-size: 2.5rem;
}

h3 {
    text-align: center;
    width: 100%;
    color: var(--escuro);
    font-family: var(--font1);
    font-size: 1.3rem;
}

p {
    font-family: var(--font1);
    color: black;
    font-size: 1em;
    font-family: var(--font2);
}

ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
    font-family: var(--font2);

}
ul li {
    margin-bottom: 0.5rem;
    font-family: var(--font2);

}

body {
    /* margin-top: 70px; /* Para não sobrepor o conteúdo ao header */ 
    font-family: var(--font2);
    background-color: var(--claro);
    line-height: 1.6;
    width: 100%;
}

/* HEADER */

header {
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 50px;
    width: 100%;
    position: relative;
    /*border: solid 1px black; */

    transition: height 0.3s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0;
}
.contatos-top-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: right;
    justify-content: right;   
    padding-top: 5px;
    margin: 0 auto;
    height: 30px; 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
    /*border: solid 1px black; */
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none; 
}

.contatos-top-icone {
    color: var(--primary-lilasescuro);
    font-size: 1rem;
    margin: 0px 2px;    
    padding: 0;
}

.contato-top-texto {
    font-family: var(--font2);
    font-size: 0.8rem;
    font-weight: lighter;
    color: black;
    margin-right: 10px;
}



.header-movel {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    padding: 0;
    z-index: 20;
    
}

.header-fixed {
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    padding: 0;
    background-color: var(--escuro);
    z-index: 10;
    display: none; /* Oculta o elemento */
}
.header-fixed-content{
    display: flex;
    max-width: 1200px;
}

.logoimg{
    display: flex;
    padding: 5px ;
    height: 60px ;
    object-fit: cover;   
}

header nav {
    flex: 1 1 100vw;
    align-items: center;
    padding-top: 0px;
    margin-left: auto;
    list-style: none;
    display: flex;
    padding-right: 40px;
    gap: 3rem;
    justify-content: flex-end;   
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-right: 20px;
}

header nav ul li a {
    color: var(--claro);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: var(--primary-lilasescuro);
}

#menu a {
    color: var(--claro);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
    margin-right: 15px;
}

#inicio {
    
    height:60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden; /* garantir que o vídeo não ultrapasse a seção */
    padding: 0px ;
}

#section-video {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.inicio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;     
    padding: 3rem;
    margin: 0;
    height: 100%;
    width: 80vw;
    
}
.inicio-content h1{
    line-height: 1.2;
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* padding-right: 20vw; */
}

.inicio-content p {
    color: var(--claro);
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
    text-align: justify;
}

/* SERVIÇOS */

.width-100 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color:var(--claro);
    margin: 0;
    padding: 0;
}

.corpodasecao {
    display: flex;
    justify-content: auto;
    
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    
}

.h2serv {
    padding: 1rem;
    margin: 0 ;
}

.caixa-serv {
    flex: 3fr;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    /*border: 1px solid black;*/
    box-shadow: 0 4px 8px rgba(207, 207, 207, 0.5);
    min-width: 300px;
    max-width: 380px;
    background-color: white;
    min-height: 420px;
}

.img-serv {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}

.h3serv {
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 0 1rem;
    text-align:left;

}

.txtserv {
    padding: 0 1rem;
    color: black;
    list-style: none;
    font-size: 0.9rem;
    text-align:left;
    margin-bottom: 1rem;
}


/* FIM SERVIÇOS CSSS flexbox */


/* Blog & Artigos */
#blog article {
    border: 1px solid var(--secundary-aqua);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--claro);
}
#blog article a {
    color: var(--primary-lilasescuro);
    text-decoration: none;
    font-weight: bold;
}

#blog article a:hover {
    text-decoration: underline;
}



/* FAQ
#faq {
    margin: 20px 0;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    background-color: #f1f1f1;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #fafafa;
    border-left: 3px solid #007BFF;
}
*/

/*Chamda de ação*/
.acao {
    background-image: url('img/img-chamada-acao.png');
    background-size: cover;
    
    background-position: center;
    height: 400px;
}
.acao h2, .acao p {
    color:rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-size: 1rem;
    align-items: start;
    width: 30vw;
    
}




/* Rodapé */
footer {
  /*   background-color: var(--primary-lilasclaro);
    color: var(--claro); */
    background-color: #4a4a4a;
    text-align: center;
    padding: 0;
}
footer #contato {
    padding: 15px 30px;

}

footer h2, p, a {
    color: var(--claro);
    text-decoration: none;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
}

footer ul li a {
    color: var(--claro);
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: var(--primary-azul);
}
footer #contato a {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    text-decoration: none;
    color: inherit;
    color: var(--claro);
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon {    
    height: 25px;
    fill: var(--claro);
}

.copy {  
    text-align: center;
    margin: 5px;
    font-size: 0.8rem;
}


@media only screen and  (max-width: 717px) {
   
    .contatos-top {
        display: none;
    }
    #menu a {
        display: block;
        color: black;
        font-size: 1.3rem;
        
        padding: 5px;
    }

    #inicio {
        position: relative;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--claro);
        overflow: hidden; /* garantir que o vídeo não ultrapasse a seção */
        padding: 0px ;
    }

    .inicio-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1; /* Garante que o conteúdo fique acima do vídeo */
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        margin: 0;
        height: 100%;
    }

    .inicio-content h1{
        line-height: 1.2;
        color: var(--claro);
        font-size: 2.5rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    
    .inicio-content p { 
        color: var(--claro);
        font-size: 1rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        padding: 0;
        margin-top: 15px;
        text-align: justify;
    }

    #openMenu, #closeMenu {
        display: block;
        
    }

    #openMenu{
        margin-left: auto;
        margin-right: 20px;
        color: black;
        cursor: pointer; 
        padding: 5px;
        
    }

    #closeMenu{
        position: fixed;
        right: 10px;
        top: 20px;
        cursor: pointer; 
        font-size: 2rem;
    }

    nav{
        position: fixed;
        flex-direction: column;
        width: 60vw;
        height: 80vh;
        background: rgba(255,255,255, 0.98);
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        display: none;
        opacity: 0;
        transition: 0.3s;
        border-radius: 20px;
        z-index: 2;
        gap: 0;
    }

    nav.show {
        display: flex; /* Mostra o menu quando a classe 'active' é adicionada */
        opacity: 1;
    }

    #menu a {
        color: black;
        font-size: 1.2rem;
        
        z-index: 2;
        padding: 0px;
        margin: 0px;
        align-items: center;

    }
}
